<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises;let i = index">
            <th>{{i+1}}</th>
            <th>
                <img class="small-flag" [src]="pais.flags.png" alt="">
            </th>
            <th>{{pais.name.official}}</th>
            <th>{{pais.population}}</th>
            <th><a [routerLink]="['/pais',pais.cca2]">Ver...</a></th>
        </tr>
    </tbody>
</table>
