<div *ngIf="!pais;else divPais" 
    class="alert alert-info"
>
    Espere por favor...
</div>
<ng-template #divPais>

    <div class="row">
        <div  class="col-12">
            <h1>Pais: <small>{{pais.name.common}}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.svg" class="img-thumbnail">
        </div>
    </div>

    <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Problacion:</strong>{{pais.population}}
            </li>
            <li class="list-group-item">
                <strong>Codigo Alpha:</strong>{{pais.cca2}}
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col">
            <span class="badge bg-primary mr-1">{{pais.translations["ara"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["spa"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["deu"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["jpn"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["pol"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["nld"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["slk"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["por"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["swe"].common}}</span>
            <span class="badge bg-primary mr-1">{{pais.translations["per"].common}}</span>
        </div>
    </div>
    
</ng-template>